# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Personal Projects\trueaddress\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
